# Godot 4+ specific ignores
.godot/
/android/

# Temp folder for storing random stuff locally
temp/

# Opting to compress the addons folder so it doesn't spam the diff
addons/

# AI Stuff
.agents

# IDE Config
.idea/
.junie/
.vscode/
